<div class="post-new-wrapper" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 my-5">
        <h3 class="text-center">プロフィールの編集</h3>
        
        
        <%= form_with model: @profile, scope: :profile, url: profile_path, method: :put, local: true do |f| %>
          <div class="form-group">
            <%= f.label :profile_image %>
            <%= f.file_field :profile_image, value: @profile.profile_image, class: 'form-control-file'%>
            <div class="text-center mt-2">
              <%= image_tag @profile.profile_image.url(:thumb) if !@profile.profile_image.blank? %>
              <!-- carrierwaveでサムネイルを保存し、ここで表示 -->
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :height %>
            <%= f.text_area :height, class: 'form-control'%>
          </div>
          
          <div class="form-group">
            <%= f.label :weight %>
            <%= f.text_area :weight, class: 'form-control'%>
          </div>
          
          <div class="form-group">
            <%= f.label :usually_grade %>
            <%= f.text_area :usually_grade, class: 'form-control'%>
          </div>
        
          <%= f.submit 'submit', class: 'btn btn-primary btn-block' %>
        <% end %>
        
        
      </div>
    </div>
  </div>
</div>
