<div class="profile-wrapper">
 
    <div class="container">
      <div class="row">
        <div class="profile-icon col-md-5 bg-warning">
          <div class="icon-image py-2 mt-3">
            <% if current_user.profile != nil %>
              <%= image_tag current_user.profile.profile_image.url, class: "mx-auto d-block img-thumbnail rounded-circle", size: "150x150" %>
            <% else %>
              <%= "プロフィール画像を投稿してください" %>
            <% end %>
          </div>
          <div class="profile-button py-2 text-center border-top border-light">
            <% if current_user.profile %>
              <%= link_to "プロフィールの編集", edit_profile_path(user_id: current_user.id), class: "btn btn-primary" %>
              <!--(user_id: current_user.id)でuser_idを渡す--> 
            <% else %>
              <%= link_to "プロフィールの登録", new_profile_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        
        <div class="profile-detail col-md-7 bg-primary p-5">
          <h4>User : <%= current_user.name %></h4>
          <h5>Details</h5>
          <ul>
            <li>height: 
              <% if current_user.profile != nil %>
                <%= current_user.profile.height %>
              <% end %> cm </li> <!--ここでのprofileはuserモデルにhas_oneで定義した:profileキー-->
            <li>weight:
              <% if current_user.profile != nil %>
                <%= current_user.profile.weight %>
              <% end %> kg</li>
            <li>usually grade: 
              <% if current_user.profile != nil %>
                <%= current_user.profile.usually_grade %>
              <% end %></li>
          </ul> 
          
        </div>
        
        <h4 class="col text-center text-secondary my-4">------実力チャート------</h4>
        
        
        
        
        
        
      </div>
    </div>
    
    
</div>




    
    <div class="evaluation-container">
      <div class="row"> 
       
      </div>
    </div>
    
    
    
    
     <!--canvas要素：グラフィックなどが描写可能となる-->
    <canvas id="myRaderChart">Canvas not supported...</canvas>
     
    <!--読み込み-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>-->
    <!--headタグへ書き直した・・・ページ遷移時に上手く読み込めない現象を解消-->
    
    <script>
      var power = 30 / 40 * 100;
      var dynamic = 20;
      var balance = 60;
      var technical = 90;
      var endulance = 50;
      
      // canvas要素を取得し変数ctxに入力
      var ctx = document.getElementById("myRaderChart");
      // チャート設定
      var myRaderChart = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: ['Power', 'Dynamic', 'Blance', 'Technical', 'Endurance'],
          datasets: [{
                label: '<%= current_user.name %>',
                data: [power, dynamic, balance, technical, endulance],
                backgroundColor: 'RGBA(225,95,150, 0.5)',
                borderColor: 'RGBA(225,95,150, 1)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(30,106,177)'
                
            // いずれ平均値も表示？
            // }, {
            //     label: 'Bさん',
            //     data: [73, 95, 80, 87, 79],
            //     backgroundColor: 'RGBA(115,255,25, 0.5)',
            //     borderColor: 'RGBA(115,255,25, 1)',
            //     borderWidth: 1,
            //     pointBackgroundColor: 'RGB(46,106,177)'
            
            }]
          },
          options: {
              title: {
                  display: false,
                  text: '実力チャート'
              },
              scale:{
                  // グラフ軸の設定
                  ticks:{
                      suggestedMin: 0,
                      suggestedMax: 100,
                      stepSize: 10,
                      // 軸ラベルの単位設定
                      // callback: function(value, index, values){
                      //     return  value +  '点'
                      // }
                  }
              }
          }
      });
    </script>

  
    <div>
      <%# @evaluation_posts.each do |post| %>
        <%#= post.post_id %>
      <%# end %>
    </div>
 

</div>



