<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center title">投稿の編集</h2>
        
        <!--後ほどパーシャルテンプレートを使って下記フォームコードをまとめる-->
        <%= form_with model: @post, url: post_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :image %>
            <!--表記をimageではなく、"写真"のようにしたい 第2引数に指定すればできるはずだが上手く行かない…-->
            <%= f.file_field :image, class: 'form-control-file'%>
          </div>
          
          <div class="form-group">
            <%= f.label :gym_name %>
            <%= f.text_area :gym_name, class: 'form-control'%>
          </div>
          
          <div class="form-group">
            <%= f.label :grade %>
            <%= f.text_area :grade, class: 'form-control'%>
          </div>
          
          <div class="form-group">
            <%= f.label :category %>
            <%= f.text_area :category, class: 'form-control'%>
          </div>
         
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <%= f.submit '保存', class: 'btn btn-primary btn-block' %>
        <% end %>
        
        
      </div>
    </div>
  </div>
</div>
