<div class="topic-index-wrapper">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= post.user.name %>
            </h2>
            
            <h4>id:<%= post.id %> <%= post.gym_name + post.grade %></h4>
            <%= image_tag post.image.url %>
            
            
            
            <h4><%= post.category %></h4>
            
            
            <%= link_to "詳細", post_path(id: post.id), class: "btn btn-primary" %>
            
           
            <p class="topic-text">
              <%= post.description %>
            </p>
            
            <h4>Self-Evaluation</h4>
            <div class="self-evaluation-select">
              <ul class="list-inline">
                <li><%= link_to "1",evaluations_path(post_id: post.id), method: :post, class: "btn btn-sm" %></li>
                <li><%= link_to "2",evaluations_path(post_id: post.id), method: :post, class: "btn btn-sm" %></li>
                <li><%= link_to "3",evaluations_path(post_id: post.id), method: :post, class: "btn btn-sm" %></li>
                <li><%= link_to "4",evaluations_path(post_id: post.id), method: :post, class: "btn btn-sm" %></li>
                <li><%= link_to "5",evaluations_path(post_id: post.id), method: :post, class: "btn btn-sm" %></li>
              </ul>
              
            </div>
            
            
            
            <%= link_to "削除", post_path(id: post.id), method: :delete, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>