<div class="post-index-wrapper">
  <div class="container p-3">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-4">
          <div class="post-index-single bg-light my-2 p-4 border-dark rounded">
            <div class="post-datail">
              <ul class="list-unstyled">
                <li class="list-item">投稿者： <%= post.user.name %></li>
                <!--<li class="list-item">(id:<%#= post.id %>)</li>-->
                <li class="list-item">課題名：<%= post.gym_name + " " + post.grade %></li>
                <li class="list-item">カテゴリー：<%= post.category %></li>
              </ul>
            </div>
            
            <!--投稿イメージ-->
            <div class="post-image text-center">
              <%= link_to image_tag(post.image.url, class:"img"), post_path(id: post.id, user_id: post.user_id) %>
            </div>
            
            <!-- 自己評価ボタン -->
            <div class="self-evaluation-select pt-2">
              <h6>Self-Evaluation</h6>
              <% if !post.evaluation_users.include?(current_user) %> <!--評価の有無で評価ボタンの表示を変える条件分岐-->
                <!-- 未評価ボタン-->
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <span class="text-info align-middle">hard</span></li><!-- 難易度ガイド -->
                  <li class="list-inline-item"><%= link_to "1",evaluations_path(post_id: post.id, point: "1", category: post.category), method: :post, class: "btn btn-sm btn-outline-info" %></li>
                  <li class="list-inline-item"><%= link_to "2",evaluations_path(post_id: post.id, point: "2", category: post.category), method: :post, class: "btn btn-sm btn-outline-info" %></li>
                  <li class="list-inline-item"><%= link_to "3",evaluations_path(post_id: post.id, point: "3", category: post.category), method: :post, class: "btn btn-sm btn-outline-info" %></li>
                  <li class="list-inline-item"><%= link_to "4",evaluations_path(post_id: post.id, point: "4", category: post.category), method: :post, class: "btn btn-sm btn-outline-info" %></li>
                  <li class="list-inline-item"><%= link_to "5",evaluations_path(post_id: post.id, point: "5", category: post.category), method: :post, class: "btn btn-sm btn-outline-info" %></li>
                  <li class="list-inline-item"><span class="text-info align-middle mr-1">easy</span></li>
                </ul></li>
              <% else %>
                <!--評価済みボタン-->
                <% @evaluations.each do |evaluation| %><!-- user_idがcurrent_user.idのevaluationをeachで展開 -->
                  <% if post.id == evaluation.post_id %>
                    <ul class="list-inline"><!-- 評価済みボタンはアクティブ表示。もう一度クリックで評価の削除。-->
                      <li class="list-inline-item"><span class="text-info align-middle">hard</span></li>
                      <% if evaluation.point == 1 %><!-- 評価の有無でボタンのスタイルと機能を切り替える条件分岐-->
                        <li class="list-inline-item"><%= link_to "1",evaluation_path(id: evaluation.id), method: :delete, class: "btn btn-sm btn-info" %></li>
                      <% else %>
                        <li class="list-inline-item"><%= link_to "1",evaluation_path(id: evaluation.id, post_id: post.id, point: "1"), method: :put, class: "btn btn-sm btn-outline-info" %></li>
                      <% end %>
                      
                      <% if evaluation.point == 2 %> 
                        <li class="list-inline-item"><%= link_to "2",evaluation_path(id: evaluation.id), method: :delete, class: "btn btn-sm btn-info" %></li>
                      <% else %>
                        <li class="list-inline-item"><%= link_to "2",evaluation_path(id: evaluation.id, post_id: post.id, point: "2"), method: :put, class: "btn btn-sm btn-outline-info" %></li>
                      <% end %>
                      
                      <% if evaluation.point == 3 %> 
                        <li class="list-inline-item"><%= link_to "3",evaluation_path(id: evaluation.id), method: :delete, class: "btn btn-sm btn-info" %></li>
                      <% else %>
                        <li class="list-inline-item"><%= link_to "3",evaluation_path(id: evaluation.id, post_id: post.id, point: "3"), method: :put, class: "btn btn-sm btn-outline-info" %></li>
                      <% end %>
                      
                      <% if evaluation.point == 4 %> 
                        <li class="list-inline-item"><%= link_to "4",evaluation_path(id: evaluation.id), method: :delete, class: "btn btn-sm btn-info" %></li>
                      <% else %>
                        <li class="list-inline-item"><%= link_to "4",evaluation_path(id: evaluation.id, post_id: post.id, point: "4"), method: :put, class: "btn btn-sm btn-outline-info" %></li>
                      <% end %>
                      
                      <% if evaluation.point == 5 %> 
                        <li class="list-inline-item"><%= link_to "5",evaluation_path(id: evaluation.id), method: :delete, class: "btn btn-sm btn-info" %></li>
                      <% else %>
                        <li class="list-inline-item"><%= link_to "5",evaluation_path(id: evaluation.id, post_id: post.id, point: "5"), method: :put, class: "btn btn-sm btn-outline-info" %></li>
                      <% end %>
                      <li class="list-inline-item"><span class="text-info align-middle">easy</span></li>ｓ
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>