<!DOCTYPE html>
<html>
  <head>
    <title>ForClimers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--application.scss、application.jsの読み込み-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %> 
      <div class="alert alert-<%= key %> text-primary" role="alert"><%= value %></div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <div class="nav navbar-nav navbar-brand">
          <%= link_to "For climbers", root_path %>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to "About", pages_about_path %>
            </li>
            <li>
              <%= link_to "投稿一覧", posts_path %>
            </li>
            <li>
              <%= link_to "課題投稿", posts_new_path %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, method: :delete %>
            </li>
            <li>
              <%= link_to "My Page", user_profile_show_path  %>
            </li>
          <% else %>
            <li>
              <%= link_to "About", pages_about_path %>
            </li>
            <li>
              <%= link_to "投稿一覧", root_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_path %>
            </li>
            <li>
              <%= link_to "Login", login_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <!--yieldに他のviewを差し込んで表示-->
    <%= yield %>
    
    <script>
      $(function(){
        $('.alert').fadeOut(3000);
      });
    </script>
  </body>
</html>
