<!DOCTYPE html>
<html>
  <head>
    <title>ForClimers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--application.scss、application.jsの読み込み-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %> 
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <!--<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container border-bottom border-dark">
        <!--<div class="nav navbar-nav navbar-brand">-->
        <div class="navbar-brand">
          <%= link_to "For climbers", root_path, class: "text-dark" %>
        </div>
        
        <!--ナビゲーションメニューメニューボタン（ハンバーガーメニュー）-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> 
        </button>
        
        <div class="collapse navbar-collapse nav justify-content-end" id="menu">
          <ul class="nav justify-content-end">
          <!--<ul class="nav navbar-nav">-->
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to "About", pages_about_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", posts_path, class: "nav-link text-dark" , class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "課題投稿", posts_new_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", logout_path, method: :delete, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Page", profile_path, class: "nav-link text-dark" %>
              </li class="nav-item">
            <% else %>  <!-- loginしていないとき -->
              <li class="nav-item">
                <%= link_to "About", pages_about_path, class: "nav-link text-dark"%>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", posts_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", login_path, class: "nav-link text-dark" %>
              </li>
            <% end %>
          </ul>
          
        </div>
      </div>
    </nav>
    
    
    
    <!--yieldに他のviewを差し込んで表示-->
    <%= yield %>
    
    <script>
      $(function(){
        $('.alert').fadeOut(3000);
      });
    </script>
  </body>
</html>
