<!DOCTYPE html>
<html>
  <head>
    <title>ForClimers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--application.scss、application.jsの読み込み-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>

  <body>
    <!--フラッシュメッセージの表示-->
    <% flash.each do |key, value| %> 
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "For climbers", root_path, class: "text-white" %>
        </div>
        
        <!--ナビゲーションメニューメニューボタン（ハンバーガーメニュー設定）-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> 
        </button>
        
        <div class="collapse navbar-collapse nav justify-content-end" id="menu">
          <ul class="nav justify-content-end">
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to "投稿一覧", posts_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "課題投稿", posts_new_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Page", profile_path, class: "nav-link text-white" %>
              </li class="nav-item">
              <li class="nav-item">
                <%= link_to "Setting", edit_user_path(id: current_user.id), class: "nav-link text-white" %>
              </li class="nav-item">
              <li class="nav-item">
                <%= link_to "Logout", logout_path, method: :delete, class: "nav-link text-white" %>
              </li>
            <% else %>  <!-- loginしていないとき -->
              <li class="nav-item">
                <%= link_to "投稿一覧", posts_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", login_path, class: "nav-link text-white" %>
              </li>
            <% end %>
          </ul>
          
        </div>
      </div>
    </nav>
    
    <!--yieldに他のviewを差し込んで表示-->
    <%= yield %>
    

    </footer>
     <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-muted">© For Climbers 2020</span>
      </div>
    </footer>
    
    <script>
      $(function(){
        $('.alert').fadeOut(3000);
      });
    </script>
  </body>
</html>
